{% extends 'layouts/base.twig' %}

{% block layout_body %}
    <h1>Not ready yet...</h1>
    <p>
        Oops, you've found our website a bit early! Come back soon and we'll have this page working properly.
    </p>
{% endblock layout_body %}
