{% extends 'layouts/base.twig' %}

{% block layout_body %}
<main>
    <div class="container">
    <h1>Waiting list signup</h1>
    {% if ErrorMsg %}
        <p>{{ ErrorMsg }}</p>
    {% else %}
        <p>Thanks, we've added you to our mailing list.</p>
    {% endif %}
    <ul>
        <li><a href="{{ route('welcome') }}">Back to the homepage</a>.</li>
    </ul>
    </div>
</main>
{% endblock layout_body %}
