<html>
<head>
    <title></title>
</head>
<body>
<h1>New waiting list signup</h1>
<p>A new person has signed up for the waiting list.</p>
<table border="1" cellspacing="1" cellpadding="5">
    <tr>
        <td>#</td>
        <td>{{ WaitingListUser.id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ WaitingListUser.given_name }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ WaitingListUser.email }}</td>
    </tr>
    <tr>
        <td>Signed up</td>
        <td>{{ WaitingListUser.created_at }}</td>
    </tr>
</table>
</body>
</html>
