<html>
<head>
    <title>Invitation to collaborama</title>
</head>
<body>
<h1>Invitation to collaborama</h1>
Hi {{ WaitingListUser.given_name }},
<br><br>
Thanks for joining the collaborama waiting list.
<br><br>
We're pleased to invite you to join the private beta.
<br><br>
Here's how to get started:
<ol>
    <li>Head over to <a href="https://collaborama.net/">https://collaborama.net/</a></li>
    <li>Click Register at the top.</li>
    <li>Enter your details - make sure to use the email address we're contacting on - you're pre-approved.</li>
    <li>Now go to the Dashboard and check things out.</li>
</ol>
Once you're in, try adding a topic with questions and share the link with your colleagues.
<br><br>
We'd love to hear your feedback - there's a Google form linked from the dashboard.
Or, you can email us via <a href="mailto:ben@collaborama.net">ben@collaborama.net</a>.
<br><br>
Thanks for your support!
<br><br>
Ben
<br>
Founder, collaborama
</body>
</html>
